@model MixedUseProperty.Models.MixProperty
<p> </p>
<br />
<div class="col-xs-12" style="text-align:center;">
    <br />
    <br />
    <fieldset>
        <div style="border:1px solid black;">
            <br />
            <svg width="200" height="120">
                <a xlink:href="@Url.Action("ApartmentUnitLayout", "Home")">
                    <rect width="100%" height="100%" style="fill:mediumvioletred;stroke-width:3;stroke:rgb(0,0,0)" />
                    <text x="30%" y="50%" fill="white">1B-1BA (Units - 4)</text>
                </a>

            </svg>

            <svg width="200" height="120">
                <a xlink:href="@Url.Action("ApartmentUnitLayout", "Home")">
                    <rect width="100%" height="100%" style="fill:indianred;stroke-width:3;stroke:rgb(0,0,0)" />
                    <text x="30%" y="50%" fill="white">2B-2BA (Units - 7)</text>
                </a>
            </svg>
            <svg width="200" height="120">
                <a xlink:href="@Url.Action("ApartmentUnitLayout", "Home")">
                    <rect width="100%" height="100%" style="fill:palevioletred;stroke-width:3;stroke:rgb(0,0,0)" />
                    <text x="30%" y="50%" fill="white">2B-1BA (Units - 6)</text>
                </a>
            </svg>

            <svg width="160" height="120">
                <a xlink:href="@Url.Action("ApartmentUnitLayout", "Home")">
                    <rect width="100%" height="100%" style="fill:blueviolet;stroke-width:3;stroke:rgb(0,0,0)" />
                    <text x="10%" y="50%" fill="white">3B-2BA (Units - 8)</text>
                </a>
            </svg>



        </div>
        <br />

    </fieldset>



    <div style="text-align:right;">
        <a href="javascript:history.back()">Go Back</a>
    </div>

